@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #2e2f42;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navigation-btn {
  display: block;
  width: 115px;
  height: 40px;
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  background-color: transparent;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.navigation-btn:first-child {
  margin-bottom: 16px;
}

header {
  display: flex;
  margin-bottom: 16px;
  background-color: transparent;
}